/*
* @Author: dell
* @Date:   2018-06-17 11:05:59
* @Last Modified by:   dell
* @Last Modified time: 2018-06-20 20:31:47
*/
*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
.clear:after{
	content:'';
	display: block;
	height: 0;
	clear: both;
}
/*header开始*/
.header{
	height: 128px;
	width: 1200px;
	margin:0 auto;
}
.logo{
	float:left;

}
.rav{
	width: 676px;
	height: 58px;
	float: left;
}
.rav p{
	font-size: 18px;
	color: #0b4199;
	float: left;
	margin-left: 188px;
	margin-top: 20px;
}
.nav{
	width: 254px;
	height: 22px; 
	margin-left: 29px;
	margin-top: 20px;
	float:left;
}
.nav li{
	float:left;
	height: 22px;
	padding:0 10px;
	line-height: 22px;
	font-size:14px ;

}
.nav #zhanghao{
	color: #7d7d7d;
	border-left: 1px solid #c5c5c5;
} 
.nav #zhongwen{
	color: #7d7d7d;
}
.nav #language{
	color:#f12c34;
}
.lav{
	width: 900px;
	float: left;
	margin-top: 10px;
	cursor: pointer;
}
.lav li{
	float:left;
	margin-right:30px; 
	font-size: 16px;
	width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.lav li:hover {
    background: #2756a4;
}
#guanyuwomen{
	margin-right: 0px;
}
.lav>li ul {
    display: none; /*隐藏消失*/
    font-size: 10px;  
}
.lav>li ul li{
	background-color: #ffffff;
}
.lav>li:hover ul {
	display: block;  
}
.lav a{
	color:#333333;
}
.sousuo{
	margin-top: 16px;
	float: left;
	display: inline-block;
    background-image: url('../images/02-4/sousuo.png') ;
    height: 39px;
	width: 254px;
	border: 0;
	font-size: 15px;
	color: #5c5f61;
}
.header #sousuo{
	margin-top: 20px;
}
/*header结束*/

/* 身体开始 */

.a{
	background-color: #f9f9f9;  
	height: 1683px;
}
.z{
	background-color: #f9f9f9;
}
.b{
	background-color: #ffffff;
	height: 1600px;
	width: 1200px;
	margin: 0 auto;
}
.c{
	padding-top: 18px;
	font-size: 14px;
	color: #999999;
}
.d{
	font-family: Microsoft Yahei;
	font-size: 24px;
	margin-top: 68px;
	color: #3e3e3e;
}
.e{
	font-size: 14px;
	color: #666666;
	margin-top: 10px;
}
.f{
	display: inline-block;
    background-image: url('../images/02-4/1.png') ;
    height: 37px;
	width: 681px;
	border: 0;
	font-size: 16px;
	color: #818181;
	margin-left: 34px;
}
.dasousuo{
	height: 97px;
	text-align: center;
	background-color: #f0f0f0;
}
.biaotou{
	height: 110px;
	width: 800px;
	text-align: center;
	padding-left: 400px;
}
.biaotou p{
	padding-top: 50px;
	color: #2756a4;
	font-size: 20px;
}
.h{
	margin-left: 13px;
	margin-top: 30px;
	width: 276px;
	height: 34px;
	background-color: #dcf3ff;
}
.i{
	margin-left: 40px;
	margin-top: 28px;
}
.i li{
	font-size: 16px;
	color: #0b4199;
}
.i .da{
	margin-top: 21px;
	font-weight: bold;
}
.i .xiao{
	margin-top: 16px;
}
.j{
	float: left;
	width: 328px;
}
.k{
	float: left;
	width: 850px;
	border-left: 1px solid #d0d2d1;
	border-bottom: 1px solid #d0d2d1;
}
.k ul{
	padding-left: 72px;
}
.k>ul>li{
	width: 740px;
	border-bottom: 1px solid #d0d2d1;
}
#we{
	border: 0;
	height: 150px;
}
.diyi{
	height: 250px;
}
.dier{
	height: 140px;
}
.disan{
	height: 243px;
}
.disi{
	height: 150px;
}
.diwu{
	height: 180px;
}
.k #e{
	margin-top: 30px;
	font-weight: bold;
	font-size: 16px;
	color: #333333;
}
.k #f{
	margin-top: 18px;
	font-size: 14px;
	color: #666666;
	line-height: 27px;
}
.l{
	float: left;
	font-size: 16px;
	color: #0b4199;
	margin-top: 13px;
}
.fist{
	padding-top: 55px;
	font-size: 20px;
	color: #3e3e3e;
}
.one{
	margin-top: 26px;
}
.bi{
	width: 198px;
	height: 113px;
	float: left;
}
.fourth{
	margin-left: 12px;
	float: left;
	width: 520px;
}
.two{
	font-size: 20px;
	color: #3e3e3e;
	
}
.second{
	padding-top: 33px;
}
.three{
	width: 105px;
	height: 30px;
	background-color: #0b4199;
	float: left;
	text-align: center;
	margin-right: 12px;
}
.three p{
	font-size: 14px;
	color: #ffffff;
	line-height: 30px;
}
.third{
	width: 200px;
	margin-top: 10px;
}
.four{
	height: 14px;
	font-size: 14px;
	line-height: 14px;
	color: #777777;
	width: 43px;
	border-right: 1px solid #e2e2e2;
	float: left;
	margin-right: 20px;
}
.five{
	height: 14px;
	font-size: 14px;
	line-height: 14px;
	color: #777777;
	float: left;
	margin-right: 20px;
}
.six{
	font-size: 20px;
	color: #3e3e3e;
	font-size: 13px;
}
.fifth{
	padding-top: 10px;
}
.sixth{
	padding-top: 32px;
	font-size: 20px;
	color: #3e3e3e;
}
.shouce{
	width: 121px;
	height: 16px;
	line-height: 16px;
	border-right: 1.5px solid #0b4199;
}
.riqi{
	margin-left: 25px;
	line-height: 16px;
}
.pdf{
	margin-left: 78px;
	line-height: 16px;
}
.liulan{
	margin-left: 99px;
	line-height: 16px;
}
.xiazai{
	margin-left: 105px;
	line-height: 16px;
	float: right;
}
.xina{
	width: 89px;
}
.xinb{
	margin-left: 110px;
}
.ra{
	width: 105px;
}
.rb{
	margin-left: 94px;
}
.liulan>a{
	color: #0b4199;
}
.xiazai>a{
	color: #0b4199;
}
.hezi{
	position: relative;
}
.yangjing{
	position: absolute;
	right: 250px;
	top: 12px;
}
.tubiao{
	position: absolute;
	right: 42px;
	top: 13px;
}
/* .xiazai{
	margin-top: 30px;
	line-height: 16px;
	float: right;
} */
.hezi p{
	float: left;
}

/* 尾部页数列表 */
.yeshu{
	width: 600px;
	height: 24px;
	margin: 23px auto;
}
.yeshu li a{
	float: left;
	margin-left: 7px;
	border: 1px solid #bdbdbd;
	border-radius: 3px;
	font-size: 12px;
	text-align: center;
}
.m a{
	width: 57px;
	height: 20px;
	color: #bdbdbd;
}
.n a{
	width: 21px;
	height: 21px;
	color: #2c53a0;
}
.yeshu #g a{
	border: 0;
	color: #f06d71;
}
.yeshu .tiao a{
	border: 0;
	width: 36px;
	height: 12px;
	color: #2c53a0;
}
.yeshu #h a{
	border: 0;
	color: #2c53a0;
}
.yeshu .xiayiye a{
	color: #2c53a0;
}
.yeshu #h a{
	margin-left: 0;
}
.yeshu .jueduia a{
	position: relative;
}
.yeshu .jueduib a{
	position: relative;
}
.yeshu .jueduic a{
	position: relative;
}
.yeshu .jueduia  a p{
	position: absolute;
	left: 0;
	top: 2px;
}
.yeshu .jueduib a p{
	position: absolute;
	right: 0;
	top: 2px;
}
.yeshu .jueduic a p{
	position: absolute;
	right: 0;
	top: 2px;
}
 /* 浏览器右面悬浮框 */
.fl img{
	margin-top: 11px;
	height: 42px;
	width: 48px;
}
.fl p{
	font-size: 14px;
	color: #ffffff;
	/* padding-bottom: 11px; */
}
.fl{
	background-color: rgb(176, 176, 176);
	width: 84px;
	position: fixed;
	right: 25px;
	top: 290px;
}
.fl1{
	width: 84px;
	height: 90px;
	/* line-height: 83px;  */
	text-align: center;
			
}
.fl1:hover{
	background-color: rgb(141, 141, 141);
}
/* 结尾开始 */
.lansebeijing{
	height: 75px;
	background-color: #0b4199;
}
.luntan{
	width: 1200px;
	height: 75px;
	margin:0 auto;
}
.luntan img{
	float: left;
	margin-top: 19px;
}
.luntan p{
	margin-top: 0px;
	float: left;
	margin-top: 26px;
	color: #ffffff;
}
.luntan .footer{
	margin-left: 157px;
}
.luntan .lianjie{
	float: right;
}
    /*论坛结束*/
    /*导航开始*/
.heisebeijing{
	height: 320px;
	background-color: #454545;
}
.daohang{
	width: 1200px;
	height: 291px;
	margin:0 auto;
}
.daohang>ul{
	width: 157px;
	float: left;
	margin-top: 83px;
}
.daohang .guanyu{
	margin-left: 15px;
}
.daohang li{
	color: #dbdbdb;
}
.daohang .jiange{
	margin-top: 29px;
}
.daohang .gongsi{
	width: 332px;
	height: 183px;
	float: left;
	margin-top: 55px;
	border-left: 1px solid #525252;
	padding-left: 15px;
}
.daohang .gongsi img{
	display: block;
}
.daohang .gongsi p{
	color: #dbdbdb;
}
.daohang .gongsi .zuo{
	margin-top: 30px;
	float: left;
}
.daohang .gongsi .zuo li{
	color: #dbdbdb;
	margin-bottom: 20px;
}
.daohang .gongsi .you{
	margin-top: 31px;
	float: left;
	margin-left: 
}
.daohang .gongsi .you li{
	color: #dbdbdb;
	font-size: 14px;
	margin-bottom: 2px;
}
     /*导航结束*/
     /*编号开始*/
.bianhao{
	height: 29px;
	width: 1200px;
	margin:0 auto;
}
.bianhao li{
	float: left;
}
.bianhao li{
	font-size: 12px;
	color:#b5b5b5;
}
.bianhao .wangzhi{
	font-size: 11px;
	margin-left: 44px;
	margin-top: 1px;
	color:#b5b5b5;
}
.bianhao .gongsi2{
	margin-left: 13px;
}
.bianhao .xukezheng{
	margin-left: 261px;
}
.bianhao .falvshuoming{
	margin-left: 76px;
	padding-right: 5px;
	border-right: 1px solid #b5b5b5;
}
.bianhao .wangzhanditu{
	margin-left: 8px;
}