/*
* @Author: Hasee
* @Date:   2018-06-03 16:21:49
* @Last Modified by:   dell
* @Last Modified time: 2018-06-20 20:32:39
*/
*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
/*header开始*/
.header{
	height: 128px;
	width: 1200px;
	margin:0 auto;
}
.logo{
	float:left;

}
.rav{
	width: 676px;
	height: 58px;
	float: left;
}
.rav p{
	font-size: 18px;
	color: #0b4199;
	float: left;
	margin-left: 188px;
	margin-top: 20px;
}
.nav{
	width: 254px;
	height: 22px; 
	margin-left: 29px;
	margin-top: 20px;
	float:left;
}
.nav li{
	float:left;
	height: 22px;
	padding:0 10px;
	line-height: 22px;
	font-size:14px ;

}
.nav #zhanghao{
	color: #7d7d7d;
	border-left: 1px solid #c5c5c5;
} 
.nav #zhongwen{
	color: #7d7d7d;
}
.nav #language{
	color:#f12c34;
}
.lav{
	width: 900px;
	float: left;
	margin-top: 10px;
	cursor: pointer;
}
.lav li{
	float:left;
	margin-right:30px; 
	font-size: 16px;
	width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.lav li:hover {
    background: #2756a4;
}
#guanyuwomen{
	margin-right: 0px;
}
.lav>li ul {
    display: none; /*隐藏消失*/
    font-size: 10px;  
}
.lav>li ul li{
	background-color: #ffffff;
}
.lav>li:hover ul {
	display: block; 
	position: absolute;
	z-index: 10         
}
.lav a{
	color:#333333;
}
.sousuo{
	width: 188px;
	height: 30px;
	margin-top: 16px;
	float: left;
	background-color: #ebeaea;
	color: #b9b9ba;
}
.header #sousuo{
	margin-top: 20px;
}
/*header结束*/

/* banner开始 */
.banner{
	height: 1250px;
	background-color:rgb(249,249,249) ;
	margin: 0 auto;
}
.zhuye{
	height: 97px;
	width: 1200px;
	margin: 0 auto;
	padding-top: 18px;
}
.word{
	height: 60px;
	width: 1200px;
	margin: 0 auto;
}
.word .ch{
	height: 30px;
	font-family: '微软雅黑';
	font-size: 24px;
	color: #3e3e3e;
}
.word .en{
	margin-top: 17px;
	font-family: '微软雅黑';
	font-size: 14px;
	color: #666666;
}
.line{
	height: 2px;
	width: 1200px;
	/* margin-top: 3px; */
	padding-left: 160px;
}

.pit{
	height: 200px;
	width: 1200px;
	margin: 35px auto;
}
.page{
	height: 125px;
	width: 1200px;
	margin-top: 49px;
}
.page .title{
	height: 42px;
	padding-left: 15px;
	font-family: 微软雅黑;
	font-size: 20px;
	color: #2756a4;
}
  .duan{
	padding-left: 15px;
	width: 1160px;
	line-height: 26px;
	font-family: 微软雅黑;
	font-size:16px;
	color: #666666;
} 
.he{
	width: 294px;
	height: 482px;
	background-color: white;
	float: left;
	margin-right: 16px; 
}
.he2{
	width: 294px;
	height: 482px;
	background-color: white;
	float: left;
	margin-right: 16px; 
}
.qian{
	width: 294px;
	height: 22px;
}
.first{
	width: 263px;
	height: 32px;
	margin-top: 172px;
	text-align: center;
	font-family: '微软雅黑';
	font-size: 16px;
	color: #2756a4;

}
.list{
	width: 267px;
	margin: 0 auto;
}
.list li{
	
	line-height: 39px;
	border-top: 1px dotted gray;
	text-align: left;
}
.list a{
	font-family: '微软雅黑';
	font-size: 14px;
	color: #2756a4;
}
.z{
	width: 1200px;
	margin: 0 auto;
}
/* banner结束 */
/* 右侧悬浮框开始 */
.fl img{
	margin-top: 11px;
	height: 42px;
	width: 48px;
}
.fl p{
	font-size: 14px;
	color: #ffffff;
	/* padding-bottom: 11px; */
}
.fl{
	background-color: rgb(176, 176, 176);
	width: 84px;
	position: fixed;
	right: 25px;
	top: 290px;
}
.fl1{
	width: 84px;
	height: 90px;
	/* line-height: 83px;  */
	text-align: center;
			
}
.fl1:hover{
	background-color: rgb(141, 141, 141);
}
/* 结尾部分 */
.lansebeijing{
	height: 75px;
	background-color: #0b4199;
}
.luntan{
	width: 1200px;
	height: 75px;
	margin:0 auto;
}
.luntan img{
	float: left;
	margin-top: 19px;
}
.luntan p{
	margin-top: 0px;
	float: left;
	margin-top: 26px;
	color: #ffffff;
}
.luntan .footer{
	margin-left: 157px;
}
.luntan .lianjie{
	float: right;
}
/*论坛结束*/
/*导航开始*/
.heisebeijing{
	height: 320px;
	background-color: #454545;
}
.daohang{
	width: 1200px;
	height: 291px;
	margin:0 auto;
}
.daohang>ul{
	width: 157px;
	float: left;
	margin-top: 83px;
}
.daohang .guanyu{
	margin-left: 15px;
}
.daohang li{
	color: #dbdbdb;
}
.daohang .jiange{
	margin-top: 29px;
}
.daohang .gongsi{
	width: 332px;
	height: 183px;
	float: left;
	margin-top: 55px;
	border-left: 1px solid #525252;
	padding-left: 15px;
}
.daohang .gongsi img{
	display: block;
}
.daohang .gongsi p{
	color: #dbdbdb;
}
.daohang .gongsi .zuo{
	margin-top: 30px;
	float: left;
}
.daohang .gongsi .zuo li{
	color: #dbdbdb;
	margin-bottom: 20px;
}
.daohang .gongsi .you{
	margin-top: 31px;
	float: left;
	margin-left: 
}
.daohang .gongsi .you li{
	color: #dbdbdb;
	font-size: 14px;
	margin-bottom: 2px;
}
/*导航结束*/
/*编号开始*/
.bianhao{
	height: 29px;
	width: 1200px;
	margin:0 auto;
}
.bianhao li{
	float: left;
}
.bianhao li{
	font-size: 12px;
	color:#b5b5b5;
}
.bianhao .wangzhi{
	font-size: 11px;
	margin-left: 44px;
	margin-top: 1px;
	color:#b5b5b5;
}
.bianhao .gongsi2{
	margin-left: 13px;
}
.bianhao .xukezheng{
	margin-left: 261px;
}
.bianhao .falvshuoming{
	margin-left: 76px;
	padding-right: 5px;
	border-right: 1px solid #b5b5b5;
}
.bianhao .wangzhanditu{
	margin-left: 8px;
}
