*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
/*header开始*/
.header{
	height: 128px;
	width: 1200px;
	margin:0 auto;
}
.logo{
	float:left;

}
.rav{
	width: 676px;
	height: 58px;
	float: left;
}
.rav p{
	font-size: 18px;
	color: #0b4199;
	float: left;
	margin-left: 188px;
	margin-top: 20px;
}
.nav{
	width: 254px;
	height: 22px; 
	margin-left: 29px;
	margin-top: 20px;
	float:left;
}
.nav li{
	float:left;
	height: 22px;
	padding:0 10px;
	line-height: 22px;
	font-size:14px ;

}
.nav #zhanghao{
	color: #7d7d7d;
	border-left: 1px solid #c5c5c5;
} 
.nav #zhongwen{
	color: #7d7d7d;
}
.nav #language{
	color:#f12c34;
}
.lav{
	width: 900px;
	float: left;
	margin-top: 10px;
	cursor: pointer;
}
.lav li{
	float:left;
	margin-right:30px; 
	font-size: 16px;
	width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.lav li:hover {
    background: #2756a4;
}
#guanyuwomen{
	margin-right: 0px;
}
.lav>li ul {
    display: none; /*隐藏消失*/
    font-size: 10px;  
}
.lav>li:hover ul {
	display: block;         
}
.sousuo{
	width: 240px;
	height: 30px;
	margin-top: 16px;
	float: left;
	background-color: #ebeaea;
	color: #b9b9ba;
}
/*03详情页开始*/
.xiangqing{
	height: 2375px;
	width: 1600px;
	margin:0 auto;
}
.gaishu{
	width: 1200px;
	height: 800px;
	margin-left: 200px;
	float: left;
}
.da1{
	width: 1600px;
	height: 800px;
	margin:0 auto;
}
.you4{
	width: 85px;
	height: 310px;
	margin-top: 140px;
	margin-left: 37px;
	float: left;
	background-color: grey;
}
.s1{
	width: 85px;
	height: 28px;
	font-size: 14px;
	font-family: '微软雅黑';
	background-image: url(../images/phone_logo.png) ;
	background-repeat: no-repeat;
	padding-top: 54px;
	padding-left: 15px;
}
.s1 a{
	color: white;
}
.s2{
	width: 85px;
	height: 27px;
	font-size: 14px;
	font-family: '微软雅黑';
	background-image: url(../images/telephone_icon.png) ;
	background-repeat: no-repeat;
	padding-top: 54px;
	padding-left: 15px;
}
.s2 a{
	color: white;
	padding-top: 54px;
}
.s3{
	width: 85px;
	height: 28px;
	font-size: 14px;
	font-family: '微软雅黑';
	background-image: url(../images/weixin_icon.png) ;
	background-repeat: no-repeat;
	padding-top: 54px;
	padding-left: 15px;
}
.s3 a{
	color: white;
}
.s4{
	width: 85px;
	height: 15px;
	font-size: 10px;
	font-family: '微软雅黑';
	background-image: url(../images/s4.png) ;
	background-repeat: no-repeat;
	padding-left: 5px;
	padding-top: 50px;
}
.s4 a{
	color: white;
}

.daohanga{
	padding-top: 19px;
	font-size: 14px;
	font-family: '微软雅黑';
	color: grey;
	height: 15px;
}
.TR{
	padding-top: 68px;
	font-size: 24px;
	font-family: '微软雅黑';
	height: 23px;
}
.wuxiao{
	padding-left: 1032px;
	padding-top: 5px;
}
.daohang2{
	padding-top: 73px;
	height: 39px;
}
.kong{
	width: 1200px;
	height: 528px;
	margin:0 auto;
}
.kong2{
	height: 530px;
	width: 707px;
	float: left;
}
.jiantou1{
	padding-top: 265px;
	padding-left: 30px;
	float: left;
}
.yiqi{
	padding-top: 68px;
	padding-left: 70px;
	float: left;
}
.jiantou2{
	padding-left: 115px;
	padding-top: 265px;
	float: left;
}
.kong1{
	float: left;
	width: 493px;
	height: 530px;
}
.biaoti1{
	font-size: 24px;
	font-family: '微软雅黑';
	padding-top: 55px;
	padding-left: 30px;
	float: left;
}
.wenben1{
	font-size: 14px;
	font-family: '微软雅黑';
	color: grey;
	padding-top: 30px;
	padding-left: 30px;
	float: left;
}
.anbao1{
	height: 50px;
	width: 229px;
	background-color: blue;
	margin-top: 54px;
	margin-left: 204px;
	float: left;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	font-family: '微软雅黑';

}
.anbao1 a{
	color: white;
}
.hr{
	height: 4px;
}
.gongneng{
	height: 520px;
	width: 1200px;
	margin:0 auto;
	margin-top: 5px;
}
.te{
	font-size: 22px;
	font-family: '微软雅黑';
	padding-top: 34px;
	padding-left: 30px;
	color: blue;
}
.tedian{
	height: 50px;
	padding-left: 30px;
	text-align: center;
}
.tedian li{
	font-size: 16px;
	font-family: '微软雅黑';
	float: left;
	margin-top: 16px;
	color: grey;
};
.li1{
	padding-left: 0;
}
.fanwei{
	font-size: 16px;
	font-family: '微软雅黑';
	padding-left: 30px;
	padding-top: 43px;
}
.ceshi{
	font-size: 16px;
	font-family: '微软雅黑';
	padding-left: 30px;
	padding-top: 14px;
	color: grey;
}
.xianlu{
	margin-left: 713px;
	margin-top: 39px;
}
.dianxing{
	height: 332px;
	width: 1200px;
	margin:0 auto;
}
.yingyong{
	height: 170px;
	padding-left: 30px;
	padding-top: 30px;
	text-align: center;
}
.zhankai1{
	width: 1200px;
	height: 30px;
	margin-top: 44px;
}
.chanpin{
	width: 1200px;
	height: 730px;
	margin:0 auto;
}
.xiang{
	font-size: 22px;
	font-family: '微软雅黑';
	padding-top: 65px;
	padding-left: 30px;
}
.sanchan{
	width: 1200px;
	height: 300px;
	margin:0 auto;
}
.chan1{
	width: 300px;
	height: 200px;
	margin-left: 30px;
	margin-top: 20px;
	float: left;
	background-image: url(../images/chan1.png);
}
.AV4033{
	font-size: 14px;
	font-family: '微软雅黑';
	padding-top: 135px;
	padding-left: 60px;
	color: grey;
}
.chan1 a{
	font-size: 14px;
	font-family: '微软雅黑';
	padding-top: 166px;
	padding-left: 120px;
	text-decoration: underline;
}
.chan2{
	width: 300px;
	height: 200px;
	margin-left: 120px;
	margin-top: 20px;
	float: left;
	background-image: url(../images/chan2.png);
}
.AV82407{
	font-size: 14px;
	font-family: '微软雅黑';
	padding-top: 135px;
	padding-left: 60px;
	color: grey;
}
.chan2 a{
	font-size: 14px;
	font-family: '微软雅黑';
	padding-top: 166px;
	padding-left: 120px;
	text-decoration: underline;
}
.chan3{
	width: 300px;
	height: 200px;
	margin-left: 120px;
	margin-top: 20px;
	float: left;
	background-image: url(../images/chan3.png);
}
.AV3942{
	font-size: 14px;
	font-family: '微软雅黑';
	padding-top: 135px;
	padding-left: 60px;
	color: grey;
}
.chan3 a{
	font-size: 14px;
	font-family: '微软雅黑';
	padding-top: 166px;
	padding-left: 120px;
	text-decoration: underline;
}
.shendu{
	width: 1200px;
	height: 250px;
	margin:0 auto;
	background-image: url(../images/shen.png);
}
.keji{
	font-size: 18px;
	font-family: '微软雅黑'; 
	padding-top: 195px;
	padding-left: 185px;
}
/*结尾部分*/
/*论坛开始*/
.lansebeijing{
	height: 75px;
	background-color: #0b4199;
}
.luntan{
	width: 1200px;
	height: 75px;
	margin:0 auto;
}
.luntan img{
	float: left;
	margin-top: 19px;
}
.luntan p{
	margin-top: 0px;
	float: left;
	margin-top: 26px;
	color: #ffffff;
}
.luntan .footer{
	margin-left: 157px;
}
.luntan .lianjie{
	float: right;
}
/*论坛结束*/
/*导航开始*/
.heisebeijing{
	height: 320px;
	background-color: #454545;
}
.daohang{
	width: 1200px;
	height: 291px;
	margin:0 auto;
}
.daohang>ul{
	width: 157px;
	float: left;
	margin-top: 55px;
}
.daohang .guanyu{
	margin-left: 15px;
}
.daohang li{
	color: #dbdbdb;
}
.daohang .jiange{
	margin-top: 22px;
}
.daohang .gongsi{
	width: 332px;
	height: 183px;
	float: left;
	margin-top: 55px;
	border-left: 1px solid #525252;
	padding-left: 15px;
}
.daohang .gongsi img{
	display: block;
}
.daohang .gongsi p{
	color: #dbdbdb;
}
.daohang .gongsi .zuo{
	margin-top: 30px;
	float: left;
}
.daohang .gongsi .zuo li{
	color: #dbdbdb;
	margin-bottom: 20px;
}
.daohang .gongsi .you{
	margin-top: 31px;
	float: left;
	margin-left: 
}
.daohang .gongsi .you li{
	color: #dbdbdb;
	font-size: 14px;
	margin-bottom: 2px;
}
/*导航结束*/
/*编号开始*/
.bianhao{
	height: 29px;
	width: 1200px;
	margin:0 auto;
}
.bianhao li{
	float: left;
}
.bianhao li{
	font-size: 12px;
	color:#b5b5b5;
}
.bianhao .wangzhi{
	font-size: 11px;
	margin-left: 44px;
	margin-top: 1px;
	color:#b5b5b5;
}
.bianhao .gongsi2{
	margin-left: 13px;
}
.bianhao .xukezheng{
	margin-left: 261px;
}
.bianhao .falvshuoming{
	margin-left: 76px;
	padding-right: 5px;
	border-right: 1px solid #b5b5b5;
}
.bianhao .wangzhanditu{
	margin-left: 8px;
}